[Unit]
Description=Mailcheck timer.
ConditionPathExists=%h/Maildir

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
