[Unit]
Description=Dropbox

[Service]
ExecStart=/usr/bin/env ${HOME}/.dropbox-dist/dropboxd
StandardOutput=null
StandardError=null
SyslogIdentifier=dropbox
Restart=always

[Install]
WantedBy=default.target
