[user]
	name = Abhijit Hoskeri
	email = abhijithoskeri@gmail.com
[push]
	default = matching
[pull]
	rebase = true
[init]
	templatedir = /home/abhijit/.git-templates/base
[http "https://gopkg.in"]
	followRedirects = true
[notes]
  rewriteMode = cat_sort_uniq
  mergeStrategy = cat_sort_uniq
[alias]
	amend = commit -a --amend --no-edit
