[user]
	name = Abhijit Hoskeri
	email = abhijithoskeri@gmail.com
[push]
	default = matching
[pull]
	rebase = true
[init]
	templatedir = /home/abhijit/.git-templates/base
[http "https://gopkg.in"]
	followRedirects = true
