[Unit]
Description=Dropbox
ConditionPathExists=%h/Dropbox

[Service]
ExecStart=%h/.dropbox-dist/dropboxd
StandardOutput=null
StandardError=null
SyslogIdentifier=dropbox
Restart=always

[Install]
WantedBy=default.target
