prefix = ${HOME}/.local
global = true
loglevel = silent
progress = false
init-author-email = "abhijithoskeri@gmail.com"
init-author-name = "Abhijit Hoskeri"
init-author-url = "http://hoskeri.net"
init-license = "ISC"
init-module = "/home/abhijit/.npm-init.js"
init-version = "0.0.1"
