PermitRootLogin prohibit-password
AuthorizedKeysFile .ssh/authorized_keys
HostbasedAuthentication no
ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
PrintLastLog no
UseDNS no
Banner none
AcceptEnv LANG LC_* VTE_VERSION
Subsystem sftp /usr/lib/openssh/sftp-server
PasswordAuthentication no
ClientAliveInterval 30

Match group sudo
PasswordAuthentication no
